* {
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}


.navbar-light .navbar-nav .nav-link {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    }

.navbar-light .navbar-brand {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand:hover {
	color: rgb(255, 255, 255);
}


.header {
	height: 770px;
	background-image: url(images/11.png);
	background-size: cover;
	position: relative;
	
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.55);
}

.header-inner {
	margin-top: 40px;
}

.header-logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: bold;
}

.content-container {
	height: 100%;
	width: 100%;
	padding-top: 250px;
	color: #fff;
}

.header-content {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.header-button {
	padding-top: 40px;
}

.header-button input {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 30px;
	border: 2px solid #fff;
	background: rgba(255,255, 255, 0);
	color: #fff;
	outline: none;
}


.header-button input:hover {
	border: 2px solid #fff;
	background: rgba(255,255, 255, 1);
	color: #c0301c;
}

.section-services{
	background-color: #fff;
	padding: 100px 0px;
}

.section-container-h3 {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.h3 {
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

.section-line-between {
	height: 1px;
	border: 1px solid #000;
	width: 50px;
}

.h3-description {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
}


.section-services-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 70px;
	align-items: space-between;
	justify-content: space-between;
}

.section-services-clean-typography, .section-services-rock-solid-code, .section-services-expert-support {
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.section-services-clean-typography, .section-services-rock-solid-code, .section-services-expert-support, .section-about-us-description {
	margin: 15px 0px;
}

.section-services-img {
	border-radius: 50%;
	border: 2px solid #ccc;
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-services-img img {
	width: 50px;
}

.red {
	background-color: #c0301c;
}


.section-services-title {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-services-description {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}


.section-about-us{
	background-color: #f8f8f8;
	display: block;
	padding: 100px 0px 50px;
}

.section-recent-blog-posts {
	background-color: #fff;
	display: block;
	padding: 100px 0px 100px;
}

.section-slider-clients {
	background-color: #f8f8f8;
	display: block;
	padding: 25px 0px 25px;
}

.section-about-us-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
}


.carousel-inner {
	padding: 75px 0px;
}

.section-latest-works {
	padding: 100px 0px 50px 0px;
}

.latest-works-list {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-left: 0px;
}

.latest-works-list li {
	padding: 0px 10px;
}

.latest-works-list a {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #000;
}

.latest-works-list li a:hover {
	color: #c0301c;
}

.latest-works {
	padding: 15px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 20;
}

.view-latest-works-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 90px;
	
}

.view-latest-works-tittle {
	font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    z-index: 20;
}

.view-latest-works-description {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #fff;
	z-index: 20;
	padding-bottom: 10px;
}

.view-latest-works-text {
	line-height: 10px;
	text-align: center;
	z-index: 20;
	display: none
}


.latest-works input {
	padding: 10px 30px;
	
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	outline: none;
	border: none;
	font-weight: bold;
	color: #c0301c;
	background-color: #fff;
	background-image: url(images/next.png);
	background-repeat: no-repeat;
	background-position: 70px;
	z-index: 20;
	display: none;
	margin: 0 auto;
	cursor: pointer;
}

.latest-works input:hover {
	color: #fff;
	background-color: #c0301c;
	border: 1px solid #fff;
	background-image: url(images/next2.png);
}

.latest-works:after {
	content: ''; 
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0; 
	background: rgba(192, 48, 28, 0.7); 
	opacity: 0;
}

.latest-works:hover:after{ 
	opacity: 1; 
}

.latest-works:hover .view-latest-works-text, .latest-works input {
	display: block;
}

.latest-works-container {
	display: flex;
	flex-wrap: wrap;
	margin: 75px 0px;
}

.section-lets-talk {
	height: 370px;
	background-image: url(images/22.jpg);
	position: relative;
}

.section-lets-talk:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(192, 48, 28, 0.7);
}

.lets-talk-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 370px;
}

.lets-talk-text {
	padding: 10px;
}

.lets-talk-text input {
	padding: 11px 11px;
	margin-top: 20px;
	background-color: rgba(255,255,255, 0);
	border: 2px solid #fff;
	color: #fff;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}

.lets-talk-text input:hover {
	background-color: #fff;
	color: #c0301c;
}

.lets-talk-text p {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: #fff;
	line-height: 30px;
}

.recent-blog-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 75px;
}

.calendar {
	width: 70px;
	height: 75px;
	border: 2px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.calendar p {
	line-height: 10px;
}

.calendar-number {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	padding-top: 20px;
}

.calendar-month {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}



.recent-blog-container, .blog-description-text{
	display: flex;
	flex-wrap: wrap;
}

.calendar-blog-tittle {
	display: flex;
}

.blog-image img {
	width: 100%;
}

.blog-description-text {
	margin-top: 20px;
}

.blog-tittle {
	padding-top: 10px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	line-height: 10px;
	display: flex;
	flex-wrap: wrap;
}



.blog-read-more {
	padding-top: 20px;
}


.blog-tittle-uppercase a {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
}

.blog-tittle-italic {
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	font-style: italic;
	line-height: 20px;
}

.blog-tittle-uppercase a:hover {
	color: #c0301c;
}

.blog-text {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.blog-read-more a {
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.blog-read-more a:hover {
	color: #c0301c;
}

.blog-tittle-italic a:hover {
	color: #c0301c;
	cursor: pointer;
}

.blackout:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.55);
}

.carousel-caption {
	height: 100%;
	padding-top: 115px;
}

.section-get-in-touch {
	padding: 75px 0px 75px;
}

.contacts-tittle {
	font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 23px;
}

.map {
	background-image: url(images/map.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.phone {
	background-image: url(images/phone.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.letter {
	background-image: url(images/letter.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.contacts-description {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	line-height: 10px;
	padding-left: 23px;
}

.contacts-container {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.get-in-touch-container {
	display: flex;
	margin-top: 75px;
}

.form-container {
	display: flex;
	flex-wrap: wrap;
}

.form-name input {
	width: 100%;
	height: 45px;
	margin-bottom: 30px;
	padding-left: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	outline: none;
}

.form-name input:focus, .form-name-message input:focus {
    border: 1px solid #c0301c; 
    box-shadow: 0 0 10px rgba(192, 48, 28, 0.7);
   }


.form-name-message input {
	width: 100%;
	height: 100px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-bottom: 50px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	outline: none;
}

.form-button-container {
	display: flex;
}

.button-description {
	padding-left: 40px;
	font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.button-description span {
	color: #c0301c;
}

.form-button input {
	padding: 15px 40px;
	background-color: #fff;
	color: #000;
	outline: none;
	border: 1px solid #A9A9A9;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	font-weight: bold;
}

.form-button input:hover {
	color: #fff;
	background-color: #c0301c;
	border: 1px solid #c0301c ;
}

.footer {
	background-color: #c0301c;
	height: 240px;
	display: flex;
	align-items: center;
}

.section-container-h3-footer {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: #fff;
}

.section-line-between-footer {
	height: 1px;
	border: 1px solid #fff;
	width: 50px;
	margin-top: 20px;
}


.h3-footer img {
	height: 30px;
	margin-left: 10px;
}



@media (max-width: 1200px) {
	.latest-works img {
		width: 450px;
	}

	.carousel-caption {
	height: 100%;
	padding-top: 85px;
	}


}

@media (max-width: 992px) {
	.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    margin-top: 145px;
}

.latest-works img {
		width: 330px;
	}

	.blog-tittle {
		padding-top: 0px;
	}

	.carousel-caption {
	height: 100%;
	padding-top: 50px;
}

.button-description {
	padding-left: 20px;
    font-size: 8px;
}

}

@media (max-width: 767px) {
	.latest-works img {
		width: 100%;
	}
	.latest-works-container {
		display: flex;
		justify-content: center;
	}
	.blog-description-tittle {
		margin-top: 30px;
	}

	.blog-tittle {
		padding-top: 10px;
	}

	.get-in-touch-container {
		display: flex;
		flex-direction: column
	}

	.contacts-container {
	padding-left: 20px;
	}

	.form-container {
	margin-top: 30px;
	}

	.button-description {
	padding-left: 20px;
    font-size: 12px;
	}



	.carousel-item img{
		height: 300px;
	}

	.carousel-caption {
	height: 100%;
	padding-top: 75px;
}

}

@media (max-width: 550px) {
	.latest-works img {
		width: 350px;
	}
	.latest-works-container {
		display: flex;
		justify-content: center;
	}

	.latest-works-container {
		display: flex;
		justify-content: center;
	}
	.blog-description-tittle {
		display: flex;
		justify-content: center;
	}

	.carousel-caption {
	height: 100%;
	padding-top: 60px;
	}
}

@media (max-width: 400px){
	.latest-works-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	}

	.latest-works-container {
		display: flex;
		justify-content: center;
		margin-top: 200px;
	}

	.latest-works-list li {
		padding: 10px 0px;
	}

	.latest-works img {
			width: 100%;
	}
	.latest-works-container {
		display: flex;
		justify-content: center;	
	}

	.h3 {
		text-align: center;
	}

	.calendar {
		margin-top: 10px;
	}

	.carousel-caption {
	height: 100%;
	padding-top: 40px;
	}
	.button-description {
	padding-left: 20px;
    font-size: 8px;
}
}

@media (max-width: 350px) {
	.carousel-caption {
	height: 100%;
	padding-top: 30px;
	}

	.form-button-container {
		display: flex;
		flex-direction: column;
	}
	.button-description {
	padding-left: 0px;
	margin-top: 15px;
    font-size: 8px;
}
}
